html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.view-top {
    margin: 10% auto 0;
    text-align: center;
    width: 50%;
    height: 60%;
}

.view-bottom {
    height: 40%;
    background-color: #F5F6F9;
    text-align: center;
}

.view-top .view-logo-wrap {
    text-align: left;
    margin-bottom: 10%;
}

.view-top .view-logo-wrap .view-logo{
    display: flex;
    align-items: center;
}

.view-top .view-logo-wrap .view-logo-text {
    font-size: 3em;
    font-weight: bold;
}

.view-top .view-logo-wrap img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 10px;
}

.view-top  .view-logo-wrap .view-logo-power-by {
     color: #BFC6DD;
     font-size: 1em;
}

.view-login {

}

.view-top .view-login .label-login-field {
    margin-top: 3%;
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    line-height: 10px;
    border: none;
    border-bottom: 1px solid #BFC6DD;
}

.view-top .view-login .btn-login-wrap {
    margin: 50px -3px 0;
    border: none;
}

.view-top .view-login .btn-login-wrap .btn-login {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #a8aec1;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.view-top .view-login .warning-message {
    color: #8a6d3b;
    font-size: 13px;
    margin-top: 8px;
}


.view-bottom .register-tips {
    color: #2B448E;
    border-bottom: 1px solid #CDD1E2;
    font-size: 1.2em;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}