.login-view {
    height: 100%;
    background-color: #F5F6F9;
}

.login-view-content {
    text-align: center;
    background-color: #ffffff;
    padding: 2rem 2rem 4rem 2rem;
}


.login-view-content .view-logo-wrap {
    text-align: left;
    margin-bottom: 10%;

}

.login-view-content .view-logo-wrap .view-logo {
    display: flex;
    align-items: center;
}

.login-view-content .view-logo-wrap .view-logo-text {
    font-size: 3em;
    font-weight: bold;
}

.login-view-content .view-logo-wrap img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 10px;
}

.login-view-content .view-logo-wrap .view-logo-power-by {
    color: #BFC6DD;
    font-size: 1em;
}

.login-view-content .view-login .label-login-field {
    margin-top: 3%;
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    line-height: 10px;
    border: none;
    border-bottom: 1px solid #BFC6DD;
}

.login-view-content .view-login .label-login-pwd{
    margin-top: 3rem;
}

.login-view-content .view-login .btn-login-wrap {
    margin: 50px -3px 0;
    border: none;
}

.login-view-content .view-login .btn-login-wrap .btn-login {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #a8aec1;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.login-view-content .view-login .warning-message {
    color: #8a6d3b;
    font-size: 13px;
    margin-top: 8px;
}


.login-view-tip {
    height: 40%;
    text-align: center;
}

.login-view-tip .register-tips {
    color: #2B448E;
    border-bottom: 1px solid #CDD1E2;
    font-size: 1.2em;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}