.view-order-detail {
    background-color: #F5F6F9;
    height: 100%;
}

.view-order-detail .activity-title {
    padding: 2rem 1.6rem 1.1rem;
    font-size: 1.1rem;
}

.view-order-detail .activity-title .deliveryman {
    color: #B5B9C3;
    font-size: 1rem;
    margin-top: 0.4rem;
}

.view-order-detail .member-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 5.5rem;
}

.view-order-detail .member-list .member-list-load-all {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #cccccc;
}

.view-order-detail .member-list .member-list-null {
    color: #cccccc;
    font-size: 1.15rem;
    margin-top: 6rem;
    text-align: center;
}

.view-order-detail .member_item {
    border-bottom: 1px solid #d7d8db;
    padding: 1.1rem 1.6rem;
    background-color: #ffffff;
}

.view-order-detail .member_item .member_name {
    min-width: 4rem;
    max-width: 4rem;
}

.view-order-detail .member_item .delivery-man-icon {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.view-order-detail .bottom-bar-statistic {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    background-color: #ffffff;
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem;
    box-shadow: 1px 1px 6px #b1bfe0;
}

.view-order-detail .bottom-bar-statistic .bar-total {
    width: 10rem;
}

.bottom-bar-statistic .total-price {
    text-align: center;
    color: #B5B9C3;
    font-size: 1rem;
}

.bottom-bar-statistic .total-price.bottom {
    margin-top: 0.4rem;
}

.view-order-detail .bottom-bar-statistic .bar-type .bar-type-item {
    font-size: 0.9rem;
    height: 100%;
    text-align: center;
}

.view-dialog-order-detail {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .35);
    z-index: 9999;
}

.view-dialog-order-detail .dialog-order-detail-body {
    width: 18rem;
    border-radius: 12px;
    background-color: #ffffff;
}

.view-dialog-order-detail .dialog-order-detail-body .dialog-content {
    padding: 2rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    color: #333333;
    font-weight: bold;
    line-height: 1.6rem;
    border-bottom: 1px solid #DFDFDF;
}

.view-dialog-order-detail .dialog-order-detail-body .dialog-btn .btn-cancel {
    color: #4A9DF7;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.view-dialog-order-detail .dialog-order-detail-body .dialog-btn .btn-confirm {
    color: #4A9DF7;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border: none;
    border-left: 1px solid #DFDFDF;
    background-color: #ffffff;
    border-bottom-right-radius: 12px;
}