html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.view-order {
    background-color: #F5F6F9;
}

.view-order .order-notice {
    text-align: center;
    padding: 20px;
    color: #6D7B89;
    border-bottom: 1px solid #d7d8db;
}

.view-order .activity_item .activity-type-lunch {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #A16DA6;
    color: #ffffff;
    border-radius: 50%;
}

.view-order .activity_item .activity-type-supper {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #D9A269;
    color: #ffffff;
    border-radius: 50%;
}

.activity-list {
    overflow: scroll;
}

.activity_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7d8db;
    padding: 15px 20px;
    background-color: #ffffff;
}

.activity_item .activity-info {
    margin-left: 20px;
}

.activity_item .btn-modify {
    border: 1px solid #D5D9E8;
    color: #2B448E;
    padding: 5px 20px;
    cursor: pointer;
}

.activity_item .btn-order {
    background-color: #2B448E;
    color: #ffffff;
    padding: 5px 20px;
    cursor: pointer;
}

.activity-ordered-info, .activity-unordered-info {
    color: #AEAEAE;
}

.bottom-tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-tab-bar .icon-order {
    width: 24px;
    height: 24px;
    background: url("order-active.png") no-repeat center center;
    background-size: 100% 100%;
    margin: auto;
}

.bottom-tab-bar .icon-statistics {
    width: 24px;
    height: 24px;
    background: url("statistics.png") no-repeat center center;
    background-size: 100% 100%;
    margin: auto;
}

.view-dialog-order {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #AEAEAE;
    opacity: 0.3;
    display: none;
}

.view-dialog-order .dialog-order-body {
    background-color: #ffffff;
    margin: 30% auto 0;
    width: 60%;
}