<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订餐助手</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/login.css') }}"></head>
</head>
<body>
<div class="view-logo">
    <img src="{{ url_for('static', filename='login/order.jpg') }}">
    <img src="{{ url_for('static', filename='login/helper.jpg') }}">
</div>

<div class="view-login">
    <div class="label-login-title">请输入员编和密码进行登录</div>
    <form method="post" action="login">
        <div><input class="label-login-field" name="employeeId" type="text" maxlength="6" placeholder="员编"/></div>
        <div><input class="label-login-field" name="pwd" type="password" placeholder="密码"/></div>

        <div class="warning">
        {% for message in get_flashed_messages() %}
            <div class="warning-message">
              {{ message }}
            </div>
        {% endfor %}

        <div class="btn-login-wrap">
            <input class="btn-login" type="submit" value="登录"/>
        </div>
    </div>
    </form>
</div>
</body>
</html>