<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订餐助手</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/login.css') }}"></head>
</head>
<body>
<div class="view-top">
    <div class="view-logo-wrap">
        <div class="view-logo">
            <span class="view-logo-text">订餐助手</span>
            <img src="{{ url_for('static', filename='login/logo-food.jpg') }}">
        </div>
        <div class="view-logo-power-by">
         Power by 门户组
        </div>
    </div>

    <form class="view-login" method="post" action="login">
        <div><input class="label-login-field" name="employeeId" type="text" maxlength="6" placeholder="员编"/></div>
        <div><input class="label-login-field" name="pwd" type="password" placeholder="密码"/></div>

        {% if message %}
            <div class="warning-message">
              {{ message }}
            </div>
        {% endif %}

        <div class="btn-login-wrap">
            <input class="btn-login" type="submit" value="登录"/>
        </div>
    </form>
</div>
<div class="view-bottom">
    <span class="register-tips">如需注册，请联系XXX同学</span>
</div>
</body>
</html>