{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>订餐助手</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='order/order.css') }}">
{% endblock %}
{% block page_content %}
    <div class="view-order flex-column">
        <div class="order-notice">
            <span>午餐需在前一日 15:00 之前预定</span><br/>
            <span>晚餐可在当日的 15:00 之前预定</span>
        </div>

        <!-- 菜单列表-->
        <div class="activity-list flex-1 ">
            {% if activity_list|length == 0 %}
                <div class="activity-item-null">暂无可预订套餐，敬请期待~</div>
            {% endif %}
            {% for activity in activity_list %}
                <div class="activity_item">
                    <div class="flex flex-y-center">
                        <!-- 菜单类型：午餐，晚餐-->
                        {% if activity.activityType=='午餐' %}
                            <div class="activity-type-lunch">午</div>
                        {% else %}
                            <div class="activity-type-supper">晚</div>
                        {% endif %}

                        <!-- 菜单信息-->
                        <div class="activity-info">
                            <div class="activity-date">{{ activity.date }}</div>
                            {% if activity.ordered == '1' %}
                                <div class="activity-ordered-info">{{ activity.activitySubType }}
                                    x {{ activity.total }}</div>
                            {% else %}
                                <div class="activity-unordered-info">{{ activity.activitySubType }}（未预定)</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- 操作按钮-->
                    {% if activity.ordered == '1' %}
                        <div class="btn-modify" onclick="openUpdateDialog({{ activity }})">修改</div>
                    {% else %}
                        <div class="btn-order" onclick="openOrderDialog({{ activity }})">预定</div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if activity_list|length > 6 %}
                <div class="activity-item-load-all">没有更多咯~~</div>
            {% endif %}
        </div>

        <!-- 底部tab按钮-->
        <div class="bottom-tab-bar">
            <div style="color:#84AFEF">
                <div class="icon-order"></div>
                订餐
            </div>
            <a style="color:#93959D; text-decoration: none" href="{{ url_for('gather_activities') }}">
                <div class="icon-statistics"></div>
                汇总
            </a>
        </div>
    </div>

    <div id="orderDialogView" class="view-dialog-order">
        <div class="view flex flex-center-middle">
            <div class="dialog-order-body">
                <div class="dialog-order-header">
                    <div class="header-title" id="createDialogTitle"></div>
                    <div class="header-close" onclick="closeOrderDialog()"></div>
                </div>
                <div class="dialog-order-content">
                    <form action="activity/detail/add" , method="post">
                        <input class="hide" id="activityId" type="text" name="activityId">
                        <div class="flex content-item">
                            <div class="content-label">套餐：</div>
                            <div class="content-value flex-1 text-right"></div>
                        </div>
                        <div class="flex content-item">
                            <div class="content-label">份数：</div>
                            <div class="flex-1">
                                <input class="input-text text-right" type="number" min="1" max="200" name="quantity">
                            </div>
                        </div>
                        <input class="content-btn" type="submit" value="提交"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="orderUpdateDialogView" class="view-dialog-order">
        <div class="view flex flex-center-middle">
            <div class="dialog-order-body">
                <div class="dialog-order-header">
                    <div class="header-title"></div>
                    <div class="header-close" onclick="closeUpdateDialog()"></div>
                </div>
                <div class="dialog-order-content">
                    <form class="update-form" action="activity/detail/update" , method="post">
                        <input class="hide" id="activityDetailId" type="text" name="activityDetailId">
                        <div class="flex content-item">
                            <div class="content-label">套餐：</div>
                            <div class="content-value flex-1 text-right"></div>
                        </div>
                        <div class="flex content-item">
                            <div class="content-label">份数：</div>
                            <div class="flex-1">
                                <input class="input-text text-right" type="number" min="1" max="200" name="quantity">
                            </div>
                        </div>
                        <input class="content-btn" type="submit" value="修改预定"/>
                    </form>
                    <form class="delete-form" action="activity/detail/delete" , method="post">
                        <input class="hide" id="deleteActivityId" type="text" name="activityDetailId">
                        <input class="content-btn cancel-btn" type="submit" value="取消预定"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block page_script %}
    <script>
        function openOrderDialog(activity) {
            document.querySelector('#orderDialogView').style.display = 'block';
            document.querySelector('#activityId').value = activity.activityId;
            document.querySelector('#orderDialogView .header-title').innerHTML = activity.activityType + ' . ' + activity.date;
            document.querySelector('#orderDialogView .content-value').innerHTML = activity.activitySubType || '';
            document.querySelector('#orderDialogView .input-text').value = 1;
        }

        function closeOrderDialog() {
            document.querySelector('#orderDialogView').style.display = 'none';
            document.querySelector('#orderDialogView form').reset();
        }

        function openUpdateDialog(activity) {
            document.querySelector('#orderUpdateDialogView').style.display = 'block';
            document.querySelector('#activityDetailId').value = activity.activityDetailId;
            document.querySelector('#deleteActivityId').value = activity.activityDetailId;
            document.querySelector('#orderUpdateDialogView .header-title').innerHTML = activity.activityType + ' . ' + activity.date;
            document.querySelector('#orderUpdateDialogView .content-value').innerHTML = activity.activitySubType || '';
            document.querySelector('#orderUpdateDialogView .input-text').value = activity.total || 1;
        }

        function closeUpdateDialog() {
            document.querySelector('#orderUpdateDialogView').style.display = 'none';
            document.querySelector('#orderUpdateDialogView .update-form').reset();
            document.querySelector('#orderUpdateDialogView .delete-form').reset();
        }
    </script>
{% endblock %}
</html>