{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>订单详情</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='order/order-detail.css') }}">
{% endblock %}

{% block page_content %}
<div class="view-order-detail">
    <div class="activity-title">
        {{ activity.activityType }} · {{ activity.date }}
        <div class="deliveryman">
            {% if activity.deliveryman %}
                取餐人：{{ activity.deliveryman }}
            {% else %}
                未指定取餐人
            {% endif %}
        </div>
    </div>

    <div class="member-list">
        {% for member in activity.memberList %}
            <div class="member_item flex flex-y-center flex-x-between">
                <div class="member_id flex flex-y-center">
                    {{ member.employeeId }}
                    <img style="margin-left: 20px" src="{{ url_for('static', filename='order/assign.png') }}">
                </div>
                <div>{{ member.summary }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="bottom-bar-statistic flex flex-y-center flex-x-between">
        <div>
            总计：<span class="total-price">¥{{ activity.totalPrice }}</span>
        </div>
        <div class="flex flex-x-between">
            <div>
                <div>{{ activity.summaryList[0].desc }}</div>
                <div class="total-price">¥{{ activity.summaryList[0].totalPrice }}</div>
            </div>
            <div style="margin-left: 100px">
                <div>{{ activity.summaryList[1].desc }}</div>
                <div class="total-price">¥{{ activity.summaryList[1].totalPrice }}</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}