{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>订单详情</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='order/order-detail.css') }}">
{% endblock %}

{% block page_content %}
    <div class="flex-column view-order-detail">
        <div class="activity-title">
            {{ activity.activityType }} · {{ activity.date }}
            <div class="deliveryman">
                {% if activity.deliveryman %}
                    取餐人：{{ activity.deliveryman }}
                {% else %}
                    未指定取餐人
                {% endif %}
            </div>
        </div>

        <div class="flex-1 member-list">
            {% if activity.memberList|length == 0 %}
                <div class="member-list-null">还没有人订餐哦~</div>
            {% endif %}
            {% for member in activity.memberList %}
                <div class="member_item flex flex-y-center">
                    <div class="member_id flex flex-y-center">
                        {{ member.employeeId }}
                        <img class="delivery-man-icon" src="{{ url_for('static', filename='order/assign.png') }}"
                             onclick="openOrderDetailDialog({{ member }})">
                    </div>
                    <div class="flex-1 flex">
                        {% for desc in member.summary %}
                            <div class="flex-1 text-center">{{ desc }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% if activity.memberList|length > 6 %}
                <div class="member-list-load-all">没有更多咯~</div>
            {% endif %}
        </div>

        <div class="bottom-bar-statistic flex flex-y-center">
            <div class="bar-total">
                总计：<span class="total-price">¥{{ activity.totalPrice }}</span>
            </div>
            <div class="flex-1 flex bar-type">
                {% for summary in activity.summaryList %}
                    <div class="flex-1 bar-type-item">
                        <div>{{ summary.desc }}</div>
                        <div class="total-price bottom">¥{{ summary.totalPrice }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="orderDetailDialogView" class="view-dialog-order-detail">
            <div class="view flex flex-center-middle">
                <div class="dialog-order-detail-body">
                    <form action="order_detail">
                        <div class="dialog-content"></div>
                        <div class="dialog-btn flex">
                            <div class="flex-1 btn-cancel" onclick="closeOrderDetailDialog()">确认</div>
                            {#<button type="submit" class="flex-1 btn-confirm">确认</button>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_script %}
    <script>
        function openOrderDetailDialog(member) {
            document.querySelector('#orderDetailDialogView').style.display = 'block';
            {#setDialogContent('是否要指派[ ' + member.employeeId + ' ]为取餐人？');#}
            setDialogContent('敬请期待');
        }

        function closeOrderDetailDialog() {
            document.querySelector('#orderDetailDialogView').style.display = 'none';
            document.querySelector('#orderDetailDialogView form').reset();
            setDialogContent('');
        }

        function setDialogContent(content) {
            var dialogContent = document.querySelector('#orderDetailDialogView .dialog-content');
            dialogContent.innerHTML = content || '';
        }
    </script>
{% endblock %}