{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>订单汇总</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statistics/statistics.css') }}">
{% endblock %}
{% block page_content %}
    <div class="flex-column view-statistics">
        <!-- 今日订单-->
        <div class="activity-list-title"><strong>{{ group_user }}</strong> · 今日订单</div>
        {% if today_list|length == 0 %}
            <div class="activity-item-null">暂无今日订单~</div>
        {% endif %}
        {% for activity in today_list %}
            <a class="activity_item flex flex-y-center flex-x-between"
               href="{{ url_for("order_detail", activityType=activity.activityType, date=activity.date) }}">
                <div>
                    <div class="activity_info">{{ activity.title }}</div>
                    <div class="activity_order_info">{{ activity.summary }}</div>
                </div>
                <div class="flex flex-y-center deliveryman">
                    {% if activity.mealDeliver %}
                        取餐人：{{ activity.mealDeliver }}
                    {% else %}
                        未指定取餐人
                    {% endif %}
                    <span class="arrow-right"></span>
                </div>
            </a>
        {% endfor %}

        <!-- 未来订单-->
        <div class="activity-list-title flex flex-x-between flex-y-center">
            <div><strong>{{ group_user }}</strong> · 未来订单</div>
            <a class="statistics-view-all" href="{{ url_for('all_activities') }}">查看全部订单</a>
        </div>
        <div class="flex-1 activity-list">
            {% if week_list|length == 0 %}
                <div class="activity-item-null">暂无未来订单~</div>
            {% endif %}
            {% for activity in week_list %}
                <a class="activity_item flex flex-y-center flex-x-between"
                   href="{{ url_for("order_detail", activityType=activity.activityType, date=activity.date) }}">
                    <div>
                        <div class="activity_info">{{ activity.title }}</div>
                        <div class="activity_order_info">{{ activity.summary }}</div>
                    </div>
                    <div class="flex flex-y-center deliveryman">
                        {% if activity.deliveryman %}
                            取餐人：{{ activity.mealDeliver }}
                        {% else %}
                            未指定取餐人
                        {% endif %}
                        <span class="arrow-right"></span>
                    </div>
                </a>
            {% endfor %}
            {% if week_list|length >6 %}
                <div class="activity-item-load-all">没有更多咯~</div>
            {% endif %}
        </div>

        <!-- 底部tab按钮-->
        <div class="bottom-tab-bar">
            <a style="color:#93959D; text-decoration: none" href="{{ url_for('order') }}">
                <div class="icon-order"></div>
                订餐
            </a>
            <div style="color:#84AFEF">
                <div class="icon-statistics"></div>
                汇总
            </div>
        </div>
    </div>
{% endblock %}